.movie-items {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.movie-item {
  width: 250px;
  background: #e2e2e2;
  margin: 8px;
  padding: 16;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 4px 8px;
    }
  }
  h3 {
    margin: 0;
  }
}
